.about-scene {
  position:absolute;
  left:12%;
  right:8%;
  top:32%;
  bottom:120px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center
}
.about-panel {
  position:relative;
  z-index:3;
  width:min(430px,85%);
  padding:20px 25px;
  background:#e9d9b9;
  color:#29241f;
  border:4px solid #171b1e;
  box-shadow:4px 4px #927c5e,inset 0 0 0 3px #c5ae88;
  margin-right:10%;
  margin-bottom:16px
}
.about-panel:after {
  content:"";
  position:absolute;
  bottom:-18px;
  left:56%;
  width:20px;
  height:20px;
  background:#e9d9b9;
  border-bottom:4px solid #171b1e;
  border-right:4px solid #171b1e;
  clip-path:polygon(0 0,100% 0,100% 100%)
}
.dialogue-label {
  font-size:9px;
  color:#796347;
  letter-spacing:2px
}
.about-panel h2 {
  font-size:23px;
  margin:9px 0
}
.about-panel h2 span {
  color:#b7832e
}
.about-panel p {
  font-size:13px;
  line-height:1.6;
  margin-bottom:8px
}
.floating-island {
  position:relative;
  width:min(670px,100%);
  animation:float 5s ease-in-out infinite;
  padding-top:55px
}
.floating-island>.pixel-avatar {
  position:absolute;
  width:48px;
  left:48%;
  top:0;
  z-index:2
}
.tree-art {
  position:absolute;
  right:11%;
  width:21%;
  bottom:72%
}
.floating-island .island-art {
  position:relative
}
@media(min-height:850px) {
  .about-scene {
    top:30%
  }
  .floating-island {
    margin-top:25px
  }
}
@media(max-width:700px) {
  .about-scene {
    position:relative;
    inset:auto;
    margin-top:32px;
    min-height:310px
  }
  .about-panel {
    padding:15px;
    width:95%;
    margin-right:0;
    margin-bottom:30px
  }
  .about-panel h2 {
    font-size:20px
  }
  .about-panel p {
    font-size:12px
  }
  .floating-island {
    min-width:260px
  }
  .tree-art {
    bottom:65%
  }
  .floating-island>.pixel-avatar {
    width:38px;
    top:11px
  }
}
@media(max-height:650px) and (min-width:701px) {
  .about-scene {
    top:29%;
    bottom:70px;
    left:25%
  }
  .about-panel {
    padding:10px 20px;
    margin-bottom:0
  }
  .about-panel p {
    font-size:11px
  }
  .floating-island {
    width:420px
  }
  .floating-island>.pixel-avatar {
    width:40px;
    top:10px
  }
}
