.island {
  position: relative;

  width: 500px;
  height: 260px;
  transform: translateY(40px);
}

.island-grass {
  position: absolute;

  bottom: 80px;
  left: 50px;

  width: 400px;
  height: 100px;

  background: #7ac943;
  border: 4px solid #000;
}

.island-dirt {
  position: absolute;

  bottom: 0;
  left: 100px;

  width: 300px;
  height: 100px;

  background: #a66a3f;

  border: 4px solid #000;
  border-top: none;

  clip-path: polygon(
    0 0,
    100% 0,
    80% 70%,
    60% 100%,
    40% 100%,
    20% 70%
  );
}

.about-world {
  background: linear-gradient(
    to bottom,
    #62b8f5 0%,
    #8fd3ff 55%,
    #d8f1ff 100%
  );
}

.tree {
  position: absolute;

  width: 50px;
  height: 100px;

  bottom: 175px;

  background: #238636;
  border: 4px solid #000;

  z-index: 3;
}

.tree-left {
  left: 90px;
}

.tree-right {
  right: 90px;
}

.character {
  position: absolute;

  width: 40px;
  height: 70px;

  bottom: 175px;
  left: 50%;

  transform: translateX(-50%);

  background: #e63946;
  border: 4px solid #000;

  z-index: 4;
}

.cloud {
  position: absolute;

  width: 120px;
  height: 45px;

  background: white;
  border: 4px solid #000;
}

.cloud-one {
  top: 15%;
  left: 12%;
}

.cloud-two {
  top: 25%;
  right: 15%;
}